.App {
  font-family: Roboto, arial, sans-serif;
  border: 1px solid #ff9e7a;
  background: #fec9d2;
  background-size: cover;
  margin: 75px auto 18px auto;
  max-width: 576px;
  padding: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App form {
  margin-bottom: 20px;
}

.col-8 {
  padding-left: 0px;
}

.App input.form-control {
  margin-top: 30px;
  font-family: "Space Mono", monospace;
  border-color: #ff9e7a;
}

.btn-primary {
  margin-top: 30px;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  background-color: #ef529c;
  color: #000;
  border-color: #ef529c;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: #000;
  color: #ef529c;
  border: #000;
}

.geolocation {
  margin-top: 30px;
  margin-left: 10px;
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  border-color: #c9eaf4;
  background-color: #5da9bd;
  color: #000;
  border: none;
  width: 38px;
  height: 38px;
}

.geolocation:hover {
  background-color: #8083b3;
  color: #5da9bd;
  border: #000;
}

.search-label {
  margin-top: 10px;
  font-family: "Space Mono", monospace;
}

.App h1 {
  color: #000;
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  font-weight: 100;
  line-height: 60px;
  margin: 0 0 8px 0;
}

.App ul {
  margin-bottom: 35px;
  padding-left: 0px;
  font-family: "Space Mono", monospace;
}

.App li {
  font-size: 20px;
  font-weight: 100px;
  line-height: 30px;
  list-style: none;
  color: #000;
  margin-top: 15px;
}

.App canvas {
  margin-top: 7px;
  margin-right: 0px;
  display: inline-block;
}

.App .temperature {
  font-size: 64px;
  font-family: "Space Mono", monospace;
  color: #000;
  line-height: 64px;
  margin-left: 15px;
}

.App .unit {
  font-size: 16px;
  font-weight: 400;
  font-family: "Space Mono", monospace;
  position: relative;
  top: -34px;
  line-height: 1;
  margin-left: 5px;
  color: #000;
}

iframe {
  width: 100%;
  height: 190px;
  max-width: 100%;
  border: none;
}

footer {
  color: #000;
  background-color: #5da9bd;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 13px;
}

/* Media Queries */

/* Mobile Devices */
@media (max-width: 767px) {
  .App {
    padding: 16px 10px;
    margin: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .col-8,
  .col-2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-primary,
  .geolocation {
    width: 100%;
    margin-top: 10px;
  }

  .geolocation {
    margin: auto;
  }

  .WeatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .WeatherInfo .row {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .WeatherInfo .col-6 {
    width: 100%;
    margin-bottom: 10px;
  }

  .d-flex {
    margin-left: 35px;
  }
}

/* Tablets */

/* Common styles for both iPad Air and iPad Pro */
@media (min-width: 768px) and (max-width: 1023px) {
  .App {
    margin: 75px auto 18px auto;
    max-width: 1200px;
    width: 90%;
    max-height: 100%;
    padding-bottom: 20px;
    flex-direction: column;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5da9bd;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .col-8,
  .col-2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-primary,
  .geolocation {
    width: 100%;
    margin-top: 10px;
  }

  .geolocation {
    margin: auto;
  }

  .WeatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .WeatherInfo .col-6 {
    width: 100%;
    margin-bottom: 10px;
  }

  .d-flex {
    margin-left: 50px;
  }

  .WeatherForecast-temperatures {
    margin-bottom: 45px;
  }
}

/* Specific styles for iPad Air */
@media (min-width: 820px) and (max-width: 1023px) {
  .App {
    width: 95%;
  }

  .WeatherForecast {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .row {
    margin-bottom: -32px;
  }

  .WeatherForecast .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
  }

  .WeatherInfo {
    padding: 10px;
  }

  .WeatherInfo h1,
  .WeatherInfo p,
  .WeatherInfo .col-6 {
    margin: 5px 0;
  }

  .WeatherInfo .col-6 {
    padding: 0 10px;
  }

  .WeatherForecast-temperatures {
    margin-bottom: 20px;
  }
}

/* Specific styles for iPad Pro */
@media (min-width: 1024px) and (max-width: 1366px) {
  .App {
    width: 80%;
  }

  .App form {
    margin-bottom: 48px;
  }

  .App ul {
    margin-top: 25px;
  }

  .App h1 {
    margin-top: 25px;
  }

  .row {
    margin-top: 85px;
  }

  .d-flex {
    margin: 100px;
  }

  .WeatherForecast {
    display: flex;
    flex-direction: nowrap;
    width: 100%;
  }

  .WeatherForecast .row {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .App {
    flex-direction: row;
    justify-content: space-between;
  }
}
