.App {
  font-family: Roboto, arial, sans-serif;
  text-align: center;
  border: 1px solid #8f25a7;
  background: #fbb331;
  margin: 30px auto;
  max-width: 800px;
  padding: 16px;
  border-radius: 4px;
}

.App form {
  margin-bottom: 20px;
}

.App input.form-control {
  width: 75%;
}


.App h1 {
  color: #d20fcd;
  font-size: 30px;
  font-weight: 100;
  line-height: 75px;
  margin: 20px 0 0 0;
}

.App ul {
  margin: 0;
  padding: 0;
}

.App li {
  font-size: 20px;
  font-weight: 100px;
  line-height: 50px;
  list-style: none;
}
