body {
  font-family: "Space Mono", monospace;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/054/940/original/editvaporwave_%281440_%C3%97_850_px%29.png?1669069105");
  background-repeat: no-repeat;
  background-color: #c9eaf4;
}
