body {
  font-family: "Space Mono", monospace;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/054/590/original/newcitypop.png?1668823299");
  background-repeat: no-repeat;
  background-color: #c9eaf4;
}
