body {
  font-family: "Space Mono", monospace;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/054/861/original/vaporwave.png?1669003826");
  background-repeat: no-repeat;
  background-color: #c9eaf4;
}
