.WeatherForecast {
  text-align: center;
  color: #000;
  font-family: "Space Mono", monospace;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

/* Media Queries */

/* Mobile Devices */
@media (max-width: 767px) {
  .WeatherForecast-day {
    margin: 20px;
  }

  .WeatherForecast-temperatures {
    margin-bottom: 25px;
  }
}
